NODE_ENV=development
IP=localhost
PORT=3005

DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=chat_server
DB_USER=root
DB_PASSWORD=1234
DB_SYNCHRONIZE=true
DB_LOG=true

JWT_JWKS_URI=http://auth-server:3001/.well-known/jwks.json
JWT_ISSUER=http://auth-server:3001
JWT_AUDIENCE=chat-server
